
/* BASIC STYLING */

* {
  box-sizing: border-box;
  /* remove all default spaces */
  margin: 0;
  padding: 0;
}

body {
  /* set the font size to 16px */
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #3f3f3f;
  background-color: #e2cec5;
  /* center the text */
  text-align: center;
  line-height: 1.5;
}

h1 {
  /* remove defaut top margin from the heading */
  margin-top: 0;
}

h2 {
  /* add some space to the top and bottom */
  padding-top: 1.5em;
  padding-bottom: 2em;
  /* make the text bolder */
  font-weight: 900;
}

h3 {
  /* add some top and bottom padding */
  padding-top: 1em;
  padding-bottom: .5em;
  font-size: 1.35em;
}

header p {
  padding: 1em 0;
  color: #595959;
}

header a, h2 {
  text-transform: uppercase;
  /* decrease the font size */
  font-size: 0.9375em;
}

header a {
  /* make the link the block element for better user experience on smaller devices */
  display: block;
  background-color: red;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ededed;
  font-weight: 900;
}

a {
  /* remove default underline */
  text-decoration: none;
  /* inherit the color from the body */
  color: inherit;
}

a:link {
  /* make a smooth color animation */
  transition: color .4s ease;
}

a:hover {
  /* set the color for the links to gray */
  color: #b2b2b2;
}

a:active {
  /* set the color for the links to salmon */
  color: #f78460;
}

ul li {
  /* remove default styling for list items */
  list-style: none;
}


img {
  /* fit the image inside its container */
  width: 100%;
}

hr {
  width: 90%;
  margin: 0 auto;
}

span {
  font-weight: 900;
  color: #727272;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------CONTAINERS ------------------------ */

.container {
  /* add some space inside the container */
  padding: 1em 1em;
}

.col {
  /* add some bottom space to the column */
  padding-bottom: 2.5em;
}

/* ---------------------HEADER ------------------------ */
.profile-img {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 8px;
}

/* ---------------------PORTFOLIO SECTION ------------------------ */

.portfolio {
  /* set the background of the portfolio section */
  background-color: #ededed;
}

/* ---------------------CONTACT SECTION ------------------------ */

.contact .container {
  padding-top: 2em;
  padding-bottom: 3em;
}

.contact p {
  color: #595959;
}

.contact-info {
  padding-top: 1em;
}

/* ---------------------FOOTER ------------------------ */
footer .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

footer {
  font-weight: 900;
}

footer .name {
  /* position the name to the left */
  float: left;
}

footer .btn-back {
  /* position the button to the right */
  float: right;
  text-transform: uppercase;
  /* decrease the font size */
  font-size: 0.8125em;
  /* align the text with the name */
  padding-top: 3px;
}

.bigger-devices {
  display: none;
}

/* ---------------------MEDIA QUERIES ------------------------ */
@media (min-width: 768px){

  .container {
    padding-right: 2em;
    padding-left: 2em;
    margin: 0 auto;
  }

  header .container {
    /* add some space between the header and the projects section */
    padding-bottom: 3.5em;
  }

  nav li {
    display: inline-block;
    margin-left: 20px;

  }
  nav li a {
    background-color: inherit;
  }
  header p {
    width: 60%;
    float: left;
    padding-right: 1em;
    text-align: left;
    margin-top: 30px;
    padding-top: 0;
    font-size: 1.35em;
  }

  header .name {
    padding-top: 1em;
  }
  .profile-img {
    width: 40%;
    float: right;
    margin-top: 40px;
  }

  .contact {
    font-size: 1.35em;
  }

  .col {
    width: 50%;
    float: left;
    /* add some padding to the left of the column */
    padding-left: .3em;
    padding-right: .3em;
  }

  .col p {
    width: 80%;
    margin: 0 auto;
  }

  .btn-back {
    display: none;
  }

  .bigger-devices {
    display: inline-block;
    float: right;
  }

  .bigger-devices li {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
  }

  footer .container {
    padding-bottom: 5em;
  }

  footer li a {
    /* make the clickable area bigger */
    display: block;
    padding: 0 1em;;
  }
}

@media (min-width: 1024px){

  .container {
    padding-right: 3em;
    padding-left: 3em;
    max-width: 1400px;
  }

  .col {
    /* set the width of the column to 33% */
    width: 33%;
  }

  header .name {
    float: left;
  }

  nav ul {
    float: right;
    margin-top: 20px;
  }

  nav li {
    margin-left: 40px;
  }

  nav {
    padding-top: 1em;
  }

  .portfolio .container {
    padding-right: 1em;
    padding-left: 1.5em;
  }

  .main-container {
    display: block;
    width: 100%;
    background-color: #e2cec5;
    padding: 0 1.5em;
  }

  .message {
    width: 70%;
    margin: 0 auto;
  }

  footer .container {
    padding-bottom: 2em;
  }

}
